<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naman.tarp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentSignUp"
            android:label="Student Register"/>
        <activity
            android:name=".FacultySignUp"
            android:label="Faculty Register"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".Landing"
            android:label="Home"/>
        <activity android:name=".BookSlot"
            android:label="Book Slot"/>
        <activity android:name=".FindFaculty"
            android:label="Search Faculty"/>
        <activity android:name=".ModifySlot"
            android:label="Modify Visiting Hours"/>
        <activity android:name=".FacultyHome"
            android:label="Faculty Home"/>
        <activity android:name=".CheckSchedule"
            android:label="Check Appointments"></activity>
    </application>

</manifest>